<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="log4net.Internal.Debug" value="false" />
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>